/* About Me Section */
.about--section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #000000;
}

.about--section--img {
  flex: 1; 
}

.about--section--img img {
  width: 100%;
  height: auto; /* Ensures image maintains aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

.hero--section--content--box {
  flex: 2; 
  margin-left: 20px; 
}

.section--title {
  font-family: 'Arial', sans-serif; 
  font-size: 24px; 
  font-weight: bold; 
  color: #ff96e3; /* Heading color */
}

.skills-section--heading {
  font-family: 'Arial', sans-serif; 
  font-size: 24px; 
  font-weight: bold; 
  color: #ff96e3; /* Heading color */
}

.paragraph-container {
  display: flex; /* Remove flex-direction: column; to display paragraphs next to each other */
}

.hero--section-description1,
.hero--section-description2 {
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  color: #ffffff; /* White color */
  margin-right: 20px; /* Add margin-right for spacing between paragraphs */
}

/* Responsive styles */
@media (max-width: 768px) {
  .about--section {
    flex-direction: column; 
    padding: 20px 10px; 
  }

  .about--section--img {
    margin-bottom: 20px; 
  }

  .hero--section--content--box {
    margin-left: 0; 
  }

  .section--title {
    font-size: 20px; 
  }

  .skills-section--heading {
    font-size: 20px; 
  }

  .hero--section-description1,
  .hero--section-description2 {
    font-size: 14px; 
  }
}
