/* About Me Section */
.about--section {
  display: flex;
  align-items: center;
  padding: 50px;
  
}

.about--section--img {
  flex: 3; 
  
}

.about--section--img-container {
  border: 5px solid #af0057; /* Border style */
  border-radius: 50%; /* Make the border round */
  width: 330px; /* Set the width of the container */
  height: 350px; /* Set the height of the container */
  overflow: hidden; /* Hide the overflow (image) */
}

.about--section--img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}
.section--title {
  font-family: 'Arial', sans-serif; 
  font-size: 24px; 
  font-weight: bold; 
  color: #ff96e3; /* Heading color */
}

.skills-section--heading {
  font-family: 'Arial', sans-serif; 
  font-size: 24px; 
  font-weight: bold; 
  color: #ff96e3; /* Heading color */
}

.paragraph-container {
  display:block;
  margin-left: 25px; /* Remove flex-direction: column; to display paragraphs next to each other */
}

.hero--section-description {
  font-family: 'Arial', sans-serif; 
  font-size: 12px; 
  color: #ffffff; /* White color */
  margin-right: 25px; /* Add margin-right for spacing between paragraphs */
}


@media screen and (max-width: 768px) {
  .about--section {
    padding: 15px;
  }

  .about--section--img-container {
    width: 80%;
    height: 200px;
  }

  .section--title, .skills-section--heading {
    font-size: 20px;
  }

  .hero--section-description {
    font-size: 8px;
    width: 100%;
  }
}