/* Contact Form Styles */
.contact--section {
  padding: 20px;
  /* background-color: #000000; */
}

.contact--form--container {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  margin: 0 auto; 
  border: 5px solid #ff96e3;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff; /* Set background color to white */
}

.contact--section {
  text-align: center; 
}

.contact--section h2 {
  color: #af0057;
  font-size: 24px;
  font-weight: bold;
}



.contact--label {
  display:block;
  margin-bottom: 15px;
  color: #ff96e3;
}

.contact--input {
  width: calc(100% - 10px);
  padding: 10px;
  border: 5px solid grey;
  border-radius: 3px;
  font-size: 10px;
}

.checkbox--label {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color:#000000;
}

.contact--form--btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #ff96e3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.sub--title {
  font-size: 18px; /* Adjust the font size as needed */
  color: #af0057; /* Your desired color */
  font-weight: bold; /* Add bold font weight */
}

h2 {
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Your desired color */
  margin-top: 10px; /* Add some top margin */
}

.text-lg {
  font-size: 16px; /* Adjust the font size as needed */
  color: #666; /* Your desired color */
}


@media screen and (max-width: 768px) {
  .contact--form--container {
    max-width: 100%;
  }

  .contact--input,
  .contact--form--btn {
    font-size: 12px;
  }
}

  
  