.footer-distributed {
  background: linear-gradient(to top, #Af0057, rgba(255,  255,  255,  0));
  color: #fff;
  padding:8px 0;
  display: flex; /* Use flexbox to control layout */
  justify-content: space-around; /* Distribute items evenly */
  flex-wrap: wrap; /* Allow items to wrap to new lines */
}

.footer-left,
.footer-center,
.footer-right {
  width: 30%; /* Each section takes 30% of the container */
  text-align: center; /* Center-align content */
}

.footer-left h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-links {
  margin: 0;
  padding: 0;
}

.footer-links a {
  display: inline; /* Display links as block elements */
  text-decoration: none;
  color:#000000;
  font-size: 12px bold;
  margin-bottom: 10px; /* Add margin between links */
}

.footer-links a:hover {
  color: #ff96e3;
}

.footer-icons {
  margin-top: 40px;
}

.footer-icons a {
  margin-right: 10px;
  color: #000000;
  font-size: 18px;
}

.footer-icons a:hover {
  color: #e74c3c;
}
