/* HeroSection.css */

.hero--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  5px  0;
  /* background-color: #f5f5f5; */
  /* Add a gradient background if you want */
  /* background: linear-gradient(to bottom, #f5f5f5, #ffffff); */
}

.hero--section--content--box {
  width: 50%; 
  padding:  0  30px;
  font-size: 0px; /* Increase the font size as needed */
}

.hero--section--content {
  margin-bottom:  30px;
  font-size: large;
}

.section--title {
  font-size:  24px;
  font-weight: bold;
  color: #333;
}

.hero--section--title {
  font-size:  48px;
  font-weight: bold;
  color: #333;
  margin-bottom:  20px;
}

.hero--section-title--color {
  color: #e91e63; /* pink color */
}

.hero--section-description {
  font-size:  18px;
  line-height:  1.6;
  color: #666;
  margin-bottom:  40px;
}

.btn.btn-primary {
  background-color: #ff96e3; /* Pink background color */
  color: #000; /* Black text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
  background-color: #af0057; /* Darker pink color on hover */
  color: #000; /* Keep text color black on hover */
}


.btn:hover {
  background-color: #d81b60; /* darker pink color on hover */
}

.hero--section--img {
  width:  50%;
}

.hero--section--img img {
  width:  100%;
  height: auto;
} 
.btn-primary {
  padding: 10px 20px;
  background-color: #ff96e3; /* Pink color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #af0057; /* Darker pink color on hover */
}


/* Back ground video header */
#header #video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  #header #video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1;
  }
}