*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.contanier{
  width: 100%;
  height: 100vh;
  background-color: rgba(214, 142, 178, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contanier .hero {
  position: relative;
  z-index: 10;
  height: 85vh;
  width: 75%;
  background: linear-gradient(to right, rgba(255, 157, 207, 0.5) 50%, rgba(0, 0, 0, 0.1) 50%);
  backdrop-filter: blur(25px);
  border: 3px solid rgba(255, 157, 207, 0.5);
  border-radius: 20px;
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
  padding: 0 40px 0 80px;
}


.hero nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}
.hero nav .logo{
  color: #801f82;
  font-size: 45px;
  font-weight: bold;
}
.hero nav .nav-links a {
  color: #242424;
  margin-left: 40px;
  text-transform: capitalize;
  transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
  color: #801f82;
}
.hero .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
.hero .content .div-text {
  width: 40%;
  margin-top: 100px; 
}

.hero .content .div-text h1{
  margin-bottom: 20px;
  font-size: 50px;
  color: #fff;
}
.hero .content .div-text h4{
  color: #801f82;
  font-size: 24px;
  margin-bottom: 10px;
}
.hero .content .div-text p{
  color: #4f4f4f;
  margin-bottom: 50px;
  font-size: 18px;
}
.hero .content .div-text .btn{
  padding: 15px 20px;
  background-color: #801f82;
  border: 2px solid #801f82;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.hero .content .div-text .btn:hover{
  color: #801f82;
  transition: 0.3s;
  background-color: transparent;
}

.soc-link{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.soc-link a i{
  font-size: 25px;
  cursor: pointer;
   color: #ff9dcf;
  margin-bottom: 20px;
  transition: 0.4s;
}
.soc-link a i:hover{
  color: #ff9dcf;
}

.hero .content .div-img{
  width: 40%;
}
.hero .content .div-img img{
  width: 110%;
  border-bottom: 4px solid #ff9dcf;
}
/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
  position: relative;
  top: 50px;
  animation: slide-top .5s linear forwards;
  opacity: 0;
}
.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust the margin as needed */
}
.hero .content .div-text h1{
  animation-delay: 0.5s;
}
.hero .content .div-text h4{
  animation-delay: 0.9s;
}
.hero .content .div-text .btn{
  animation-delay: 1.8s;
}
@keyframes slide-top{
  0%{
      top: 50px;
      opacity: 0;
  }
  100%{
      top: 0;
      opacity: 1;
  }
}

.hero .content .div-text p{
  position: relative;
  left: 100px;
  animation: slide-right .5s linear forwards;
  animation-delay: 1.3s;
  opacity: 0;
}
@keyframes slide-right{
  0%{
      left: 100px;
      opacity: 0;
  }
  100%{
      left: 0;
      opacity: 1;
  }
}

.hero .content .div-img img{
  opacity: 0;
  transform: scale(0.8);
  animation: fade-img .5s linear forwards;
  animation-delay: 2.1s;
}
@keyframes fade-img{
  0%{
      opacity: 0;
      transform: scale(0.8);
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}

/* Back ground video header */
#header #video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}
/* styles.css */
nav {
  /* background-color: #333; */
  padding: 10px;
}

.hamburger {
  color: #fff;
  cursor: pointer;
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}

.menu li {
  margin-right: 15px;
  margin-top: 1px;
  font-size: 5px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #Af0057;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    
  }

  .menu.active {
    display: flex;
    margin-top: auto;
    
  }
  
.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  transition: color 0.3s;
}


  .hamburger {
    display: block;
   
  }
}




/* Responsive styles */
@media (max-width: 1024px) {
  .contanier .hero {
     width: 90%;
     padding: 0 20px;
  }
 
  .hero nav .nav-links a {
     margin-left: 20px;
  }
 
  .hero .content .div-text {
     width: 100%;
     margin-top: 50px;
  }
 
  .hero .content .div-img {
     width: 100%;
  }
 }
 
 @media (max-width: 768px) {
  .contanier .hero {
     width: 100%;
     padding: 0 10px;
  }
 
  .hero nav .nav-links a {
     margin-left: 10px;
  }
 
  .hero .content .div-text {
     width: 100%;
     margin-top: 30px;
  }
 
  .hero .content .div-img {
     width: 100%;
  }
 }
 
 @media (max-width: 600px) {
  .contanier .hero {
     width: 100%;
     padding: 0 5px;
     height:500px;
  }
 
  .hero nav .nav-links a {
     margin-left: 5px;
  }
 
  .hero .content .div-text {
     width: 100%;
     margin-top: 20px;
     font-size: 1px;
  }
  .hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
  }
  .hero .content .div-text h4{
    color: #801f82;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 12px;
  }
 
  .hero .content .div-img {
     width: 100%;
  }
 }
 .hero .content .div-text .btn{
  width: 100px;
  height: 50px

}
.hero .content .div-text .btn{
  font-size: 10px;
}
 
   