/* HeroSection.css */

.hero--section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0; 
  /* background-color: #f5f5f5, opacity#ff96e3;
  */
}

.hero--section--content--box {
  flex: 1; 
  padding: 0 20px; 
  text-align: center; 
}

.hero--section--content {
  text-align:center; 
  text-align: center; 
  /* text-justify: inter-word; */
}

.section--title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; 
}

.hero--section--title {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; 
}

.hero--section-title--color {
  color: #e91e63;
}

.hero--section-description {
  font-size: 20px;
  line-height: 1.6;
  color: #666;
  
  /* margin-bottom: 40px; */
} 

.btn.btn-primary,
.btn-primary {
  padding: 10px 20px;
  background-color: #ff96e3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.btn-primary:hover,
.btn-primary:hover {
  background-color: #af0057;
}

.hero--section--img {
  margin-bottom: 20px; 
  
  

  
}
.hero--section--img img {
  height: auto;
  width: 100%;
  margin-left: -80px;
  border-bottom: 6px solid #ff96e3;
 

}






/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .hero--section {
    flex-direction: column; 
    align-items: center; 
  }

  .hero--section--img {
    width: 100%; 
    margin-bottom: 20px; 
    margin-left: 100px;
  }

  .hero--section--content--box {
    width: 100%; 
    text-align:end; 
    padding: 0 10px; 
  }
}


/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .hero--section {
    padding: 10px 0; 
  }

  .hero--section--content--box {
    padding: 0 10px; 
    margin-right: -10px;
  }

  .section--title {
    font-size: 20px;
  }

  .hero--section--title {
    font-size: 20px; 
  }

  .hero--section-description {
    font-size: 10px; 
  }
}







/* Back ground video header */
#header #video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  #header #video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }
}


@media screen and (max-width: 600px) {
  #heroSection {
    display: flex;
    flex-direction: row;
    width:100%;
  }
  
  .hero--section--img {
    width: 40%; /* Reduce the width of the image */
    margin-bottom: 0px; /* Adjust margin bottom for spacing */
  }
}
