.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(175,  0,  95,  0.8);
  color: #000000;
  padding:  1rem;
  position: fixed;
  top:  0;
  width:  100%;
  z-index:  1000;
}

.nav-links {
  list-style: none;
  display: flex; /* Aligns nav links horizontally */
  text-align: right;
}

.nav-links li {
  margin-right:  1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s; /* Add transition for smooth color change */
}

.nav-links li a:hover {
  text-decoration: underline;
  color: #ff0; /* Change to your desired hover color */
}

.logo h1 {
  margin:  0;
}

.logo h1 {
  margin:  0;
}

