
.carousel-wrapper {
  max-width: 1000px;
  height: 500px; 
  margin: 0 auto;
  background-color: black;
  
}

  .carousel-wrapper h6 {
    text-align: center; 
    font-size: 30px; 
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 20px;
   /* Add some bottom margin for spacing */
  }
  .carousel-button {
    background-color: #ff96e3; 
    color: #fff; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-button:hover {
    background-color: #9747ff; 
  }
  .carousel-image1 {
    width: 50%; 
    height: auto;
    display: block; 
    margin: 0 auto;
    
  }
  .carousel-image2 {
    width: 50%;
    height: 350px;
    display: block; 
    margin: 0 auto; 
    border-radius: 6px;
    

  }
  
.carousel-image3 {
  width: 50%; 
  height: 350px;
  display: block; 
    margin: 0 auto;
    
}

.carousel-caption {
  background-color: grey;
  color: #ff96e3;
  padding:  10px;
  margin-top: -60px; 
  margin-left: auto;
  margin-right: auto;
  width:  50%;
  top: auto; 
  bottom:  0; 
  transform: none; 
}


.carousel-caption h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
  margin-bottom: 0;
}

