#projects {
  text-align: center;
  padding: 50px 0;
}

.section__text__p1 {
  font-size: 24px;
  color: #af0057;
}

.title {
  font-size: 36px;
  color: #af0057;
  margin-bottom: 30px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
}

.about-containers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; 
    height: auto;
    display: block; 
    margin: 0 auto;
    border-radius: 25px;
    filter: drop-shadow(30px  30px  30px rgba(255,  255,  255,  0.5)) drop-shadow(50px  50px  5px rgba(255,  102,  204,  0.5));
  
}

.project-img {
  width: 100%;
  border-radius: 10px;
  
}

.project-title {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-color-2 {
  background-color: #ff96e3;
  color: #fff;
}

.btn-color-2:hover {
  background-color: #9747ff;
}

.icon.arrow {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
}
