/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.canvas {
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 50px;
}

.canvas__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.canvas__section {
  flex: 1 1 calc(33.33% - 20px); /* Adjusted width calculation */
  margin: 0 20px 20px 0;
  padding: 20px;
  background-color: grey; /* Lightened background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
  border-radius: 8px; /* Slightly increased border radius */
  border: 4px solid #ff00ff; /* Changed border color */
}

.canvas__section h2 {
  font-size: 1.2rem; /* Increased font size */
  color: #333333;
  margin-bottom: 10px;
}

.canvas__section p {
  font-size: 14px; /* Increased font size */
  color: white; /* Darkened text color */
  line-height: 1.6;
  margin-bottom: 20px;
}

.canvas__section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.canvas__section li {
  font-size: 14px; /* Increased font size */
  color: white; /* Darkened text color */
  padding: 5px 0;
}

    /* Progress bar styles */
    .progress-bar {
      margin-bottom: 10px; /* Increased margin bottom for better separation */
    }

    .progress-bar .progress {
      height: 8px; /* Reduced height */
      line-height: 8px; /* Added line-height */
      text-align: center;
      color: black;
      border-radius: 6px; /* Reduced border radius */
      background-color: #ff96e3;
      width: 0; /* Initially set width to 0 */
      transition: width 0.5s ease-in-out; /* Added transition for smoother animation */
    }

    /* Different progress bars */
    .progress-bar:nth-child(odd) {
      background-color: #ff96e3;
    }

    /* Adjusted font size for progress text */
    .progress-bar .progress {
      font-size: 10px;
    }





























