.testimonial-section {
  text-align: center;
  background-color: black;
  padding-bottom: 50px;
}
.testimonial-section h1 {
  font-size: 28px; /* Adjust the font size as needed */
  color: #ffffff; /* Add your desired color */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.image-container {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ff96e3 /* Adjust border thickness and color */
}


.testimonial-item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; /* Adjust margin to move the items up */
}

.slide-label {
  font-size: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Add your desired color */
}
.slide-text {
  font-size: 5px;
  color: #000000;
}
.additional-content {
  margin-top: 10px;
  color: #ffffff;
}

.additional-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffffff;
}

.additional-content p {
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff; /* Add your desired color */
}

  



  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .additional-content {
    margin-left: 20px; /* Adjust as needed */
    animation: slideIn 0.5s ease forwards; /* Apply animation */
    opacity: 0; /* Hide initially */
  }
  .additional-content p{
    color: black;
    margin-top: -5px; /* Adjust the value as needed */
}
  .image-with-box:hover .additional-content {
    opacity: 1; /* Show the content on hover */
  }
  